/**index.scss**/
.index {
  height: 100vh;
  padding: 20rpx 40rpx;
  box-sizing: border-box;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1rpx solid rgba(24, 110, 240, .6);
  border-radius: 10rpx;
  padding: 30rpx;
  margin-bottom: 30rpx;
  font-size: 36rpx;
  .item-left {
    display: flex;
    align-items: center;
    gap: 30rpx;
  }
}
.btn-box {
  display: flex;
  flex-direction: column;
  gap: 20rpx;
}