/**index.scss**/
.index {
  height: 100vh;
  padding: 20rpx 40rpx;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1rpx solid #ccc;
  border-radius: 10rpx;
  padding: 20rpx;
  margin-bottom: 30rpx;
  font-size: 40rpx;
  .item-left {
    display: flex;
    align-items: center;
    gap: 20rpx;
  }
}
.btn-box {
  display: flex;
  flex-direction: column;
  gap: 20rpx;
}